.downloadButtonOverride {
    float: right;
    color: var('--pf-global--link--Color');
    
    .pf-c-button__icon.pf-m-start {
        margin-right: var(--pf-global--spacer--sm);
    }

    @media only screen and (max-width: 585px) {
        float: none;
        padding-left: 0px;
    }
}