.downloadButtonOverride {
    float: right;
    color: var(--pf-t--global--text--color--link--default);
    background: transparent;

    @media only screen and (max-width: 585px) {
        float: none;
        padding-left: 0px;
    }
}