// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass

.ins-c-primary-toolbar {
  .ins-c-primary-toolbar__pagination {
    margin-left:auto;
  }
}

.progress-score-bar {
  grid-gap: var(--pf-t--global--spacer--sm);

  span.pf-v6-c-progress__status-icon {
    display: none;
  }

  .pf-v6-c-progress__bar {
    &:before {
      // TODO: check this color fill #B8BBBE
      background: var(--pf-t--global--background--color--disabled--default);
    }
  }

  .pf-v6-c-progress__measure {
    // TODO: check this color fill #6A6E73
    color: var(--pf-t--global--border--color--on-secondary);
  }

  .pf-v6-c-progress__status {
    justify-content: flex-start;
  }
}

.ros-systems-table {

  .pf-v6-c-content.expanded-row {
    --pf-v6-c-content--dl--RowGap: var(--pf-t--global--spacer--xs);
    --pf-v6-c-content--FontSize: var(--pf-t--global--font--size--sm);
  }

  .pf-link {
    &:hover {
      text-decoration: none;
    }
  }

  .pf-v6-c-progress {
    grid-template-columns: auto;

    .pf-v6-c-progress__status {
      text-align: left;
    }
  }
}


.blue-300{
  .pf-v6-c-progress__indicator {
    // TODO: check this color fill or need to use variable
    background: #2B9AF3;
  }
}

.ros-page-header {
  width: auto;
  .pf-v6-c-title {
      display:inline-block;
  }
  .pf-v6-c-button {
      // TODO: --pf-v5-global--LineHeight--sm check line height
      line-height: var(--pf-t--global--spacer--sm);
  }
  .alertOverride {
      font-size: var(--pf-t--global--font--size--md);
      margin-top: var(--pf-t--global--spacer--lg);
  }
  @media only screen and (max-width: 585px) {
      .pf-v6-c-title {
          display: block;
      }
      .alertOverride {
          margin-top: var(--pf-t--global--spacer--sm);
      }
  }
}
