.like {
  color: var(--pf-v5-global--success-color--100);
}

.dislike {
  color: var(--pf-v5-global--primary-color--100);
}

.ratingSpanOverride{
    font-size: var(--pf-v5-global--FontSize--md);
    button {
        padding: 8px;
    }
}