.like {
  color: var(--pf-t--global--color--status--success--default);
}

.dislike {
  color: var(--pf-t--global--color--brand--default);
}

.ratingSpanOverride{
    font-size: var(--pf-t--global--font--size--md);
    button {
        padding: 8px;
    }
}