.chartDateFilter {
   z-index: 10;
   position: relative;

   .dateDropdown{
      padding-left: 8px;
      float:right;
   }

   :first-child {
      vertical-align: bottom !important;
   }
}
.historical-chart-panel {
   @media screen and (min-width: 768px) {
      .pf-v5-c-chart {
         top: -65px;
      }
   }
}
