.chartContainer{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 8%;
}

.dropdownContainer {
   margin-right: 200px;
   align-self: flex-end;
}

.dateDropdown{
   padding-left: 8px;
}

.loading {
   width: 756px;
   height: 275px;
}