.ros-system-info {
  .pf-v6-c-description-list.expanded-row {
    font-size: var(--pf-t--global--font--size--md);

    dt {
      font-weight: var(--pf-t--global--font--weight--body--normal);
      
      &:after {
        content: ":";
      }
    }
    row-gap: 0;
  }
  .pf-v6-c-description-list__group {
    row-gap: 0;

    .pf-v6-c-description-list__term .pf-v6-c-description-list__text {
      font-size: var(--pf-t--global--font--size--md);
    }
  }
}

.ros-system-info > .pf-v6-l-flex.pf-m-column {
  margin-bottom: var(--pf-v6-l-flex--spacer);
}

.rosDetailsHead {
  .ins-entity-detail {
    .ins-entity-facts {
      .pf-v6-l-flex:last-child {
        display: none !important;
      }
    }
    .ins-c-inventory__detail--header {
      .pf-v6-l-flex:first-child .pf-v6-c-button {
        display: none !important;
      }
    }
  }
}
