.ros-system-info {
  .pf-c-description-list.expanded-row {    
    dt {
      font-weight: var(--pf-global--FontWeight--normal);
      
      &:after {
        content: ":";
      }
    }
  }
  .pf-c-description-list__group {
    row-gap: 0;
  }
}

.detail-header-container {
  position: relative;
  padding-bottom: 72px;
}
