.ros-system-info {
  .pf-c-description-list.expanded-row {
    font-size: var(--pf-global--FontSize--md);

    dt {
      font-weight: var(--pf-global--FontWeight--normal);
      
      &:after {
        content: ":";
      }
    }
    row-gap: 0;
  }
  .pf-c-description-list__group {
    row-gap: 0;

    .pf-c-description-list__term .pf-c-description-list__text {
      font-size: var(--pf-global--FontSize--md);
    }
  }
}

.ros-system-info > .pf-l-flex.pf-m-column {
  margin-bottom: var(--pf-l-flex--spacer);
}

.detail-header-container {
  position: relative;
  padding-bottom: 72px;
}
.rosDetailsHead {
  .ins-entity-detail {
    .ins-entity-facts {
      .pf-l-flex:last-child {
        display: none !important;
      }
    }
  }
}
