th, td {
    padding-left: 8px;
    padding-top: 2px;
}

.seperator {
    border-bottom:0.8px solid white;
    padding-top: 4px;
}

.staleText {
    color: var(--pf-v5-global--warning-color--100);
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    font-weight: var(--pf-v5-global--FontWeight--bold);
}
