.ros-recommendations-table.pf-v5-c-table {
  tr {
    --pf-v5-c-table--cell--FontSize: var(--pf-v5-global--FontSize--md);
  }
  .recs-table-empty {
    .pf-v5-c-empty-state__icon {
      fill: var(--pf-v5-global--success-color--100);
    }
  }
}
.newline {
  white-space: pre-line;
}
.tab {
  white-space: pre-wrap;
}
Th {
  font-weight: normal;
  padding-top: 7px
}
.strong-tag-style {
  padding: 12px;
}
.table-border-top {
  border-top: 1px solid #d9d9d9;
}
.margin-text-bottom {
  margin-bottom: 2%;
}
.detected-issues-table {
  margin-left: 3%;
  width: 40%
}
.suggestions-table {
  margin-left: 3%;
  width: 90%;
}

// Media Query
@media (max-width: 768px ){
   .detected-issues-table {
      width: 90% 
    } 
}