.detected-issues-table {
  margin-left: 3%;
  width: 40%
}

.suggestions-table {
  margin-left: 3%;
  width: 90%;
}

.ros-recommendations-table.pf-v6-c-table {
  tr {
    --pf-v6-c-table--cell--FontSize: var(--pf-t--global--font--size--md);
  }
  .recs-table-empty {
    .pf-v6-c-empty-state__icon {
      fill: var(--pf-t--global--color--status--success--default);
      // TODO: check with UX on this color fill
    }
  }

  .pf-v6-c-table__expandable-row-content {
    padding-left: 0px;

    [class*="pf-v6-c-content"] {
      font-size: var(--pf-t--global--font--size--md);
    }

    .pf-v6-c-content {
      .detected-issues-table, .suggestions-table {
        thead tr:last-child {
          border-block-end: var(--pf-v6-c-table--border-width--base) solid var(--pf-v6-c-table--BorderColor);
        }
      }
    }
  }
}
.newline {
  white-space: pre-line;
}
.tab {
  white-space: pre-wrap;
}
Th {
  font-weight: normal;
  padding-top: 7px
}
.strong-tag-style {
  padding: 12px;
}
.table-border-top {
  border-top: 1px solid #d9d9d9;
}
.margin-text-bottom {
  margin-bottom: 2%;
}

// Media Query
@media (max-width: 768px ){
   .detected-issues-table {
      width: 90% 
    } 
}